@page "/about"

<PageTitle>About - Switch Man</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>About Switch Man</h1>
            
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Network Switch VLAN Management</h5>
                    <p class="card-text">
                        Switch Man is a .NET Blazor Server application designed to manage VLAN configurations 
                        for network switches. The app allows users to configure individual ports of a managed 
                        network switch to specific VLAN IDs.
                    </p>
                    
                    <h6 class="mt-4">Key Features</h6>
                    <ul>
                        <li>Manage multiple network switches</li>
                        <li>Configure VLANs with custom names and IDs</li>
                        <li>Interactive web-based interface</li>
                        <li>Cross-platform support via Docker</li>
                    </ul>
                    
                    <h6 class="mt-4">Technology</h6>
                    <ul>
                        <li>.NET 10</li>
                        <li>Blazor Server</li>
                        <li>Bootstrap 5</li>
                    </ul>
                    
                    <div class="mt-4">
                        <h6>Source Code</h6>
                        <p>
                            This project is open source and available on GitHub:
                        </p>
                        <a href="https://github.com/NbgDevelopment/switch-man" target="_blank" class="btn btn-primary">
                            <span class="bi bi-github me-2"></span>View on GitHub
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
