@page "/"
@rendermode InteractiveServer

<PageTitle>Switch Man</PageTitle>

<div class="text-center" style="padding: 50px 20px;">
    <h1 class="display-4">Switch Man</h1>
    <p class="lead">Manage VLAN configurations for your network switch</p>
    <div style="margin-top: 30px;">
        <a href="/settings" class="btn btn-primary btn-lg">Open Settings</a>
    </div>
</div>
